$python: #0080ff;
$apple: #ffff00;

* {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #002040;
    height: 100vh;
}

#score {
    color: $apple;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

#field {
    display: block;
    border-collapse: collapse;
    border: solid 10px $python;
    
    td {
        width: 10px;
        height: 10px;
    }

    .python {
        background-color: $python;
        box-shadow: 0 0 10px 0 $python;
    }

    .apple {
        background-color: $apple;
        animation: blink 1s infinite alternate linear;
    }

    @keyframes blink {
        from {
            box-shadow: 0 0 0 0 $apple;
        }
        to {
            box-shadow: 0 0 10px 0 $apple;
        }
    }
}